@import '~antd/dist/antd.css';

.postsliststyle {
    background-color: white;
}


.postsdivstyle {
    background-color: #d3d3d3;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.postsavatarowstyle {
    background-color: grey;
}

.postsavatarstyle {
    margin-left: 0.25rem;
    margin-top: 0.75rem;
    margin-right: 0.25rem;
}

.postsauthorcolstyle {
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.postsauthortextstyle {
    font-size: 13px;
}

.postsratestyle {
    font-size: 10px;
}

.postsfriendfollowstyle {
    margin-right: 0.25rem;
}

.postsmorebuttonstyle {
color: black;
}

.postscontentstyle {
    margin-left: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.postsimgstyle {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.postsbottomrowstyle {
    margin-left: 0.6rem;
}

.postslocationiconstyle {
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
}

.postslocationtextstyle {
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
}

.postsdatestyle {
    margin-left: 2rem;
    margin-bottom: 0.6rem;
}

.postsactioncolstyle {
    width: 100%;
    background-color: gray;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.postsshareheartactionstyle {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 1rem;
}

.postscommentactionstyle {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 1.5rem;
}

.commentlikeshareactionstyle {
    margin-right: 15px;
}

.commentpageheaderstyle {
    background-color: #d3d3d3;
    height: 3.5rem;
}

.commentdivstyle {
    background-color: #d3d3d3;
}

.commentrowstyle {
    background-color: grey;
    border-bottom: solid black;
    border-top: solid black;
    border-width: thin;
}

.commentavatarstyle {
    margin-left: 15px;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.commentauthorcolstyle {
    margin-left: 5px;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.commentratestyle {
    font-size: 12px;
}

.commentmorebuttoncolstyle {
    margin-left: 4.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.commentcontentstyle {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.commentbottomrowstyle {
    margin: auto auto 0.5rem auto;
}

.commentlocationiconstyle {
    margin-left: 0.75rem;
    margin-right: 0.5rem;
}

.commentdatestyle {
    margin-right: 0.25rem;
}

.commentactionrowstyle {
    background-color: gray;
    border-bottom: solid black;
    border-top: solid black;
    border-width: thin;
}

.commentactionpostdetailstyle {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.commentpostsharestyle {
    margin-left: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.commentpostlikestyle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.commentnewcommentmodalrow {
    background-color: #d3d3d3;
}

.commentnewcommentmodalbutton {
    background-color: #d3d3d3;
    border-right-color: black;
    border-left-color: black;
    color: black;
}

.commentnestedrowstyle {
    background-color: #d3d3d3;
    border-top-width: medium;
    border-top-style: solid;
    border-top-color: white;
}

.commentnestedcolstyle {
    margin-bottom: 0.75rem;
    margin-left: 0.5rem;
}

.commentnestedauthorcolstyle {
    margin-bottom: 0.5rem;
}

.indexnewstyle {
    background: linear-gradient(#ff0177,#ff8235);
}

.postsnewliststyle {
    background-color: #fff;
    border-top-color: #f3f2ed ;
    border-top-style: solid;
    border-top-width: thick;
}

.postsnewavatarowstyle {
    background-color: #fff;
}

.postsnewavatarstyle {
    margin-left: 0.75rem;
    
}

.postsnewauthorcolstyle {
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
   
}

.postsnewauthortextstyle {
    font-size: 13px;
}

.postsnewratestyle {
    font-size: 10px;
}

.postsnewfriendfollowstyle {
    margin-left: 0.5rem;

}

.postsnewfriendbuttonstyle {
    border-color: #ff8235;
    border-radius: 30px
}

.postsnewfollowbuttonstyle {
    border-color:#ff0177  ;
    border-radius: 30px ;
}

.postsnewfriendtextstyle {
    color: #ff8235;
}

.postsnewfollowtextstyle {
    color: #ff0177 ;
}


.postsnewmorebuttonstyle {
    color: black;
}

.postsnewcontentstyle {
    margin-left: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.postsnewimgstyle {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.postsnewbottomrowstyle {
    margin-left: 0.6rem;
}

.postsnewlocationiconcolstyle {
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
}

.postsnewlocatoniconstyle {
    color: #146af4;
}

.postsnewlocationtextcolstyle {
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
}

.postsnewlocationtextstyle {
    color: #146af4;
}

.postsnewsdatecolstyle {
    margin-left: 2rem;
    margin-bottom: 0.6rem;
}

.postsnewdatestextsyle {
    color: #6e6e74;
}
