@import '~antd/dist/antd.css';

.postsliststyle {
    background-color: white;
}

.postsdivstyle {
    background-color: #d3d3d3;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.postsavatarowstyle {
    background-color: grey;
}

.postsavatarstyle {
    margin-left: 0.25rem;
    margin-top: 0.75rem;
    margin-right: 0.25rem;
}

.postsauthorcolstyle {
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.postsauthortextstyle {
    font-size: 13px;
}

.postsratestyle {
    font-size: 10px;
}

.postsfriendfollowstyle {
    margin-right: 0.25rem;
}

.postsmorebuttonstyle {
color: black;
}

.postscontentstyle {
    margin-left: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

.postsimgstyle {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.postsbottomrowstyle {
    margin-left: 0.6rem;
}

.postslocationiconstyle {
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
}

.postslocationtextstyle {
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
}

.postsdatestyle {
    margin-left: 2rem;
    margin-bottom: 0.6rem;
}

.postsactioncolstyle {
    width: 100%;
    background-color: gray;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

.postsshareheartactionstyle {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 1rem;
}

.postscommentactionstyle {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    margin-left: 1.5rem;
}

.commentlikeshareactionstyle {
    margin-right: 15px;
}

.commentpageheaderstyle {
    background-color: #d3d3d3;
    height: 3.5rem;
}

.commentdivstyle {
    background-color: #d3d3d3;
}

.commentrowstyle {
    background-color: grey;
    border-bottom: solid black;
    border-top: solid black;
    border-width: thin;
}

.commentavatarstyle {
    margin-left: 15px;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.commentauthorcolstyle {
    margin-left: 5px;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.commentratestyle {
    font-size: 12px;
}

.commentmorebuttoncolstyle {
    margin-left: 4.25rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.commentcontentstyle {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.commentbottomrowstyle {
    margin: auto auto 0.5rem auto;
}

.commentlocationiconstyle {
    margin-left: 0.75rem;
    margin-right: 0.5rem;
}

.commentdatestyle {
    margin-right: 0.25rem;
}

.commentactionrowstyle {
    background-color: gray;
    border-bottom: solid black;
    border-top: solid black;
    border-width: thin;
}

.commentactionpostdetailstyle {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.commentpostsharestyle {
    margin-left: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.commentpostlikestyle {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.commentnewcommentmodalrow {
    background-color: #d3d3d3;
}

.commentnewcommentmodalbutton {
    background-color: #d3d3d3;
    border-right-color: black;
    border-left-color: black;
    color: black;
}

.commentnestedrowstyle {
    background-color: #d3d3d3;
    border-top-width: medium;
    border-top-style: solid;
    border-top-color: white;
}

.commentnestedcolstyle {
    margin-bottom: 0.75rem;
    margin-left: 0.5rem;
}

.commentnestedauthorcolstyle {
    margin-bottom: 0.5rem;
}

.indexnewstyle {
    background: linear-gradient(#ff0177,#ff8235);
}

.indexnewcameracolstyle {
    margin-right: 4rem;
}

.indexnewcamerastyle {
   font-size: 1.5rem;
   color: white;
}

.indexnewbellcolstyle {
    margin-left: 3rem;
}

.indexnewlogocolstyle {
   margin-top: 0.75rem;
   margin-bottom: 0.25rem;
   margin-right: 1rem;
}

.indexnewlogoimgstyle {
   object-fit: cover;
   position: relative;
   height: 5rem;
   width: 6rem;
}

.indexnewtabbarcolstyle {
    background-color: white ;
}

.indexnewfriendstabpane {
    font-size: 14.5px;
    color: black;
    margin-left: 1.5rem
}

.indexnewfollowpopulartabpanes {
    font-size: 14.5px;
    color: black;
    margin-left: 3rem;
}

.postsnewliststyle {
    background-color: #fff;
    border-top-color: #f3f2ed ;
    border-top-style: solid;
    border-top-width: thick;
    border-bottom-color: rgba(126, 80, 212, 0.20);
    border-bottom-width: medium;
    border-bottom-style: solid;
}

.postsnewavatarowstyle {
    background-color: #fff;
}

.postsnewavatarstyle {
    margin-left: 0.75rem;
}

.postsnewauthorcolstyle {
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
   
}

.postsnewauthortextstyle {
    font-size: 13px;
}

.postsnewratestyle {
    font-size: 10px;
}

.postsnewfriendfollowstyle {
    margin-left: 0.5rem;

}

.postsnewfriendbuttonstyle {
    border-color: #ff8235;
    border-radius: 30px
}

.postsnewfollowbuttonstyle {
    border-color:#ff0177  ;
    border-radius: 30px ;
}

.postsnewfriendtextstyle {
    color: #ff8235;
}

.postsnewfollowtextstyle {
    color: #ff0177 ;
}


.postsnewmorebuttonstyle {
    color: black;
    font-size: 1.5rem;
}

.postsnewcontentstyle {
    margin-left: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.postsnewimgstyle {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.postsnewbottomrowstyle {
    margin-left: 0.6rem;
}

.postsnewlocationiconcolstyle {
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
}

.postsnewlocatoniconstyle {
    color: #146af4;
}

.postsnewlocationtextcolstyle {
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
}

.postsnewlocationtextstyle {
    color: #146af4;
}

.postsnewsdatecolstyle {
    margin-left: 2rem;
    margin-bottom: 0.6rem;
}

.postsnewdatestextsyle {
    color: #6e6e74;
}

.profilerownewstyle {
    background: linear-gradient(#ff0177,#ff8235);
}

.messagesstyle {
    background: linear-gradient(#ff0177,#ff8235);
    position: sticky;
    top: 0;
    z-index:1;
}

.footernewindexrowstyle {
    margin-top: 0.5rem;
    position: sticky;
    bottom: 0;
    background-color: white;
}

.footermessagesrowstyle {
    margin-top: 4rem;
    position: sticky;
    bottom: 0;
    background-color: white;
}

.footerordersrowstyle {
    margin-top: 7rem;
    position: sticky;
    bottom: 0;
    background-color: white;
}

.footerprofilerowstyle {
    margin-top: 8rem;
    position: sticky;
    bottom: 0;
    background-color: white;
}

.footerhomemessagescolstyle {
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
}

.footerbuttonstyle {
    margin-bottom: 0.5rem;
}
.footericonstyle {
    font-size: 2rem;
    color: #ff8235;
}

.footerhometextstyle {
    margin-top: 0.5rem;
    margin-left: 0.84rem;
}

.footericonrocketstyle {
    font-size: 3rem;
    color: #ff8235;
}

.footermessagestextstyle {
    margin-top: 0.5rem;
    margin-left: 0.15rem;
}

.footerorderscolstyle {
    margin-left: 1rem;
    margin-bottom: 0.25rem;
}

.footercolrocketstyle{
    margin-left: -0.85rem;
    margin-bottom: 0.25rem;
}

.footerorderstextstyle {
    margin-left: 0.65rem;
    margin-top: 0.5rem;
}

.footerprofilecolstyle {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.footerprofiletextstyle {
    margin-left: 0.75rem;
    margin-top: 0.5rem;
}

.messagespluscolstyle {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.messagesplusiconstyle {
   color: white;
   font-size: 2rem;
}

.messagestextcolstyle {
    margin-left: 5.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.messagestextstyle {
    color: white;
}

.messagesbellcolstyle {
    margin-left: 6.5rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.messagesbelliconstyle {
    color: white; 
    font-size: 2rem;
}

.messagesformikrowstyle {
    width: 100%;
    margin-bottom: -1rem;
}

.messagesformstyle {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.messagesformtextareastyle {
    border-radius: 30px;
}

.messagescontentrowstyle {
    border-top-color: #f3f2ed; 
    border-top-width: thick;
    border-top-style: solid; 
    margin-bottom: 1rem; 
}

.messagesavatarcolstyle {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.messagescontenttextrowstyle {
    width: 100%; 
    margin-top: -2.5rem;
    margin-left: 4.5rem;
}

.messagesnametextstyle {
    color: black;
}

.messagesratingtextcolstyle {
    width: 100%;
}

.messagesdatestyle {
    margin-left: 17rem;
    margin-top: -6rem;
}

.messageslongdate1style {
    margin-left: 15.65rem;
    margin-top: -6rem ;
}

.messageslongdate2style {
    margin-left: 15.20rem;
    margin-top: -6rem;
}

.messagescontenttextstyle {
    color: #6e6e74;
}

.ordersheaderrowstyle {
    background: linear-gradient(#ff0177,#ff8235);
    padding-bottom: 2rem;
}

.orderssearchcolstyle {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.orderssearchcoliconstyle {
    color: white;
    font-size: 2rem;
}

.ordersheadertextcolstyle {
    margin-left: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ordersheadertextstyle {
    color: white;
}

.ordersheaderbellcolstyle {
    margin-left: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ordersheaderbelliconstyle {
    color: white;
    font-size: 2rem;
}

.ordersindicatorsrowstyle {
    background-color: white;
    margin-top: -1.75rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    border-radius: 30px;
}


.ordersbookingindicatorbuttonstyle {
    background-color: #ffaf37;
    margin-left: 1rem;
}

.ordersbookingindicatortextstyle {
    color: white;
}

.ordersbookingindicatortext2style {
    color: #ff8235;
    margin-left: 0.75rem;
}

.ordersbookingprocessingindicatorcolstyle {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.ordersprocessingcompletedindicatorbuttonstyle {
    background-color: white;
    margin-left: 1rem;
}

.ordersprocessingindicatortext2style {
    color: black;
    margin-left: 0.15rem;
}

.orderscompletedindicatorcolstyle {
    margin-left: 0.75rem;
    margin-top: 0.5rem;
}

.orderscompletedindicatortext2style {
    color: black;
    margin-left: 0.20rem;
}

.ordersothersindicatorcolstyle {
    margin-left: 0.25rem;
    margin-top: 0.5rem;
}

.ordersothersindicatorbuttonstyle {
    background-color: white;
    margin-left: 0.5rem;
}

.ordersothersindicatortext2style {
    color: black;
    margin-left: 0.50rem;
}

.ordersmyordersrowstyle {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ordersviewallcolstyle {
    margin-left: 11rem; 
}

.ordersviewalltextstyle {
    font-size: 0.75rem;
    margin-left: 0.35rem;
}

.ordersviewalliconstyle {
    font-size: 0.75rem;
    margin-left: 0.50rem;
}

.ordersrow2style {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.ordersbookingalerticonstyle {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.ordersbookingtextstyle {
    font-size: 11px;
    margin-left: 0.20rem;
}

.orderstooliconstyle {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.ordersprocessingtextstyle {
    font-size: 11px;
    margin-left: -0.25rem;
}

.orderscheckiconstyle {
    font-size: 2rem;
    margin-left: 0.75rem;
}

.orderscompletedtextstyle {
    font-size: 11px;
}
.ordersrow3style {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.orderscloseiconstyle {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.orderscanceltextstyle {
    font-size: 11px;
    margin-left: 0.40rem;
}

.ordersellipsisiconstyle {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.ordersotherstextstyle {
    font-size: 11px; 
    margin-left: 0.40rem;
}

.orderscustomerserviceiconstyle {
    font-size: 2rem;
    margin-left: 0.75rem;
}

.ordersaftersaletexticon {
    font-size: 11px;
    margin-left: 0.25rem;
}

.ordersmyratingrowstyle {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ordersrow3style {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.ordersradarcharticonstyle {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.ordersalltextstyle {
    font-size: 11px;
    margin-left: 1.15rem;
}

.ordersstariconstyle {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.ordersratingtextstyle {
    font-size: 11px;
    margin-left: 0.25rem;
}

.ordershistoryiconstyle {
    font-size: 2rem;
    margin-left: 0.75rem;
}

.ordershistorytextstyle {
    font-size: 11px;
    margin-left: 0.65rem;
}